<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>How it works</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap.rtl.css" rel="stylesheet">
  <link href="assets/css/bootstrap.rtl.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap-grid.css" rel="stylesheet">
  <link href="assets/css/bootstrap-grid.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap-grid.rtl.css" rel="stylesheet">
  <link href="assets/css/bootstrap-reboot.css" rel="stylesheet">
  <link href="assets/css/bootstrap-reboot.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap-reboot.rtl.css" rel="stylesheet">
  <link href="assets/css/bootstrap-reboot.rtl.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap-reboot.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap-utilities.css" rel="stylesheet">
  <link href="assets/css/bootstrap-utilities.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap-utilities.rtl.css" rel="stylesheet">
  <link href="assets/css/bootstrap-utilities.rtl.min.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style1.css">

 </head>
 <body>
<header id="header" class="d-flex align-items-center">
  <i id="Logo" class="logo" ><a href="Home.blade.html"><img id="Logo" src="images/header-logo.jpg" ></a></i>
  <div class="container d-flex align-items-center justify-content-between">
    <!-- <i id="Logo"class="logo"><img src="images/header-logo.jpg"></i>          -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" id= "Product" href="#Products"><b>PRODUCTS</b></a></li>
          <li><a class="nav-link scrollto"  href="Contact.html"><b id="c">Contact Us</b></a></li>
          <li><a id="Call" class="nav-link scrollto " id="c" href="#portfolio"><b id="c">ABC</b></a></li>
          <li  class="dropdown"><a href="#"> <span id="c"> <b>Categories</b> </span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="#">ABC</a></li>
                <li><a href="#">XYZ</a></li>
              </ul>
          </li>
          <li  class="dropdown"><a href="#"> <span id="c" > <b>Brands</b> </span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="#">ABC</a></li>
                <li><a href="#">XYZ</a></li>
              </ul>
          </li>
          <li><a class="nav-link scrollto" href="Login.html"><b id="c">Register/Login</b></a></li>
          <li><a  class="nav-link scrollto" href="Profile.html"><b id="c">Profile</b></a></li>
        </ul>

      </nav>
    </div>
  </header>
<br>

<br><br>
<h2><b>&nbsp;&nbsp;How it works</b></h2><br><br>
<dic class ="container-fluid">
<div class="ratio ratio-21x9">
<iframe  src="https://www.youtube.com/embed/cna5nSntghU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></div>

<br><br>

<footer id="footer">


    <div class="footer-top">
      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Quick Link</h3>
            <a id="QuickLink"  href="aboutus.html" class="aboutD-Mart">About D-Mart</a><br><br>
            <a id="QuickLink"  href="Login.html" class="myaccount">My Account</a><br><br>

          </div>

          <div id = "colum2"class="col-lg-3 col-md-6 footer-links">
            <h4>Customer Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="Contact.html">Contact Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="FAQ.html">FAQ's</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="How.html">How it works</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="TermsandCondition.html">Campaign Draw Terms & Consitions</a></li>
            </ul>
          </div>




          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Follow Us</h4>
              <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
<br>
            <p>Download the D-Mart app for the utimate shopping experience</p>


               <div class="padding">
    <div class="col-md-12">
         <a  href="#" id="i1" class="btn btn-lg" data-wow-duration="2s" data-wow-delay="0.2s" ><i class="fa fa-android fa-2x"></i> Download</a>

    </div>
</div>


          </div>

        </div>
      </div>
    </div>
<br>
    <div id="end" class="container-fluid">
      <div id="copy" class="copyright" >
        <i href =" ">Logo</i><strong><span>@2021</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
     <a href="useragreement.html"><strong>.</strong>User Agreement</a>
     <a href="PrivacyPolicy.html"><strong>.</strong>Privacy Policy</a>
     <i>WE Accept&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
     <a href="#Home"><img id="cimg" src = "images/easypaisa.png" ></a>

<div id="rgift"class="row gift">

<a href="invite.html">
        <img id="gimg" src="images/gift.png" >
        <span id="Earnpoint" href="Login.html" class="toolTip"><b>Earn Free iPoints</b></span>
</a>
</div>

<div id="row" class="row">
<a href="Start Shopping.html">
    <p id="SCart" > Shopping Cart </p>
        <img id="Simg" src="images/caarticon.png" >
</a>
</div>

      </div>
    </div>
  </footer><!-- End Footer -->


<br><br><br><br><br>

<script src="assets/js/bootstrap.bundle.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/bootstrap.esm.js"></script>
<script src="assets/js/bootstrap.esm.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/bootstrap.min.js"></script>


 </body>
 </html>
