<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Privacy Policy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap.rtl.css" rel="stylesheet">
  <link href="assets/css/bootstrap.rtl.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap-grid.css" rel="stylesheet">
  <link href="assets/css/bootstrap-grid.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap-grid.rtl.css" rel="stylesheet">
  <link href="assets/css/bootstrap-reboot.css" rel="stylesheet">
  <link href="assets/css/bootstrap-reboot.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap-reboot.rtl.css" rel="stylesheet">
  <link href="assets/css/bootstrap-reboot.rtl.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap-reboot.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap-utilities.css" rel="stylesheet">
  <link href="assets/css/bootstrap-utilities.min.css" rel="stylesheet">
  <link href="assets/css/bootstrap-utilities.rtl.css" rel="stylesheet">
  <link href="assets/css/bootstrap-utilities.rtl.min.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style1.css">

 </head>
 <body>

<br>
<header id="header" class="d-flex align-items-center">
  <i id="Logo" class="logo" ><a href="Home.blade.html"><img id="Logo" src="images/header-logo.jpg" ></a></i>
  <div class="container d-flex align-items-center justify-content-between">
    <!-- <i id="Logo"class="logo"><img src="images/header-logo.jpg"></i>          -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" id= "Product" href="#Products"><b>PRODUCTS</b></a></li>
          <li><a class="nav-link scrollto"  href="Contact.html"><b id="c">Contact Us</b></a></li>
          <li><a id="Call" class="nav-link scrollto " id="c" href="#portfolio"><b id="c">ABC</b></a></li>
          <li  class="dropdown"><a href="#"> <span id="c"> <b>Categories</b> </span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="#">ABC</a></li>
                <li><a href="#">XYZ</a></li>
              </ul>
          </li>
          <li  class="dropdown"><a href="#"> <span id="c" > <b>Brands</b> </span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="#">ABC</a></li>
                <li><a href="#">XYZ</a></li>
              </ul>
          </li>
          <li><a class="nav-link scrollto" href="Login.html"><b id="c">Register/Login</b></a></li>
          <li><a  class="nav-link scrollto" href="Profile.html"><b id="c">Profile</b></a></li>
        </ul>

      </nav>
    </div>
  </header>
<br>
<div id="cfcs" class="container-fluid">
  <h2 id="hs"><b>Privacy Policy</b></h2>
  <br>
  <ol class="ol">
   <li class="li"><b>Your Information</b>
    <ol class="ol">
      <li class="li">
          The type of information we collect from you is either personal to you, or is general in nature:
      </li>
      <br>
      <li class="li">
          Personal Information: When you register on the Platform as a member, update your information, purchase any goods or services, take part in promotions or send emails to Us, you provide Us with information that We store and process. Such information may include your name, address, phone number, email address, purchase and transaction history, interests, and other such 'Personal Information'.
      </li><br>
      <li class="li">
          General Information: We also receive more general information from you as a result of your visits to, and use of, the Platform. This general information does not identify you personally, and can include information such as your IP address, the date and time you access the Platform, length of time you spend on the Platform, your browsing history (recorded by the text and graphics files that compose that page), the Internet address of the website from which you linked directly to our Platform, and other such 'General Information'.
      </li>
      <br>
    </ol>
    </li>
    <li class="li"><b>Collecting and Using Information</b>
    <ol class="ol">
      <li class="li">
          All credit/debit cards details and personally identifiable information will NOT be stored, sold, shared, rented or leased to any third parties.
      </li>
      <br>
      <li class="li">
        Most of the Platform can be used without giving Us any information. However, certain services may involve collection of information from you. We use this information to provide you with a better service, and in particular to: keep internal records; improve our products, services and the Platform; communicate with you if you have ordered, purchased or participated in anything on the Platform; contact you for market research purposes; and provide you with information about new opportunities, promotions, special offers and other information that We may feel is relevant to you. If you contact Us via the Platform, or via email to the contacts set out on the Platform, We may keep a record of that correspondence.
      </li><br>
      <li class="li">
          We use General Information to help Us make the Platform more useful to visitors (including to help Us assess content of interest to visitors), and for other purposes such as determining the Platform’s technical design specifications and identifying system performance or problem areas, for tracking activity on the Platform, preparing reports, assessing trends, and otherwise monitoring the way in which the Platform is being used none of which would be in a way that personally identifies any users.
      </li>
      <br>
      <li class="li">
          Some of the advertisements you see on the Platform are selected and delivered by third parties, such as ad networks, advertising agencies, advertisers, and audience segment providers. These third parties may collect information about you and your online activities, either on the Platform or on other websites, through cookies, web beacons, and other technologies in an effort to understand your interests and deliver to you advertisements that are tailored to your interests. Please remember that We do not have access to, or control over, the information these third parties may collect. The information practices of these third parties are not covered by this privacy policy.
      </li>
      <br>
    </ol>
    </li>

    <li class="li"><b>Non-Disclosure of Personal Information</b>
    <ol class="ol">
      <li class="li">
          You agree that We may share your Personal Information within Our company. We will not share, sell or rent your Personal Information in any manner to any third parties outside Our company except when we have your permission; or if required to do so by law or any governing authority; or to protect our own legitimate interests.
      </li>
      <br>
      </ol>
    </li>

    <li class="li"><b>Security</b>
    <ol class="ol">
      <li class="li">
          Keeping your Personal Information secure and preventing unauthorized access is of utmost priority to Us, and We take all steps reasonably necessary to protect your Personal Information against any unauthorised access, use, alteration, disclosure or destruction. Whilst We have put in place physical, electronic and managerial procedures to secure and safeguard your Personal Information, We will not be held responsible for any unauthorised access by third parties and We cannot guarantee that the Personal Information provided by you or that is transmitted via the Platform or by e-mail is totally secure and safe.
      </li>
      <br>
      </ol>
    </li>

    <li class="li"><b>Use of Cookies</b>
    <ol class="ol">
      <li class="li">
          Like many websites, the Platform uses cookies, which are files that store information on your hard drive. Cookies allow the Platform to identify account holders, track new users, record session information, and generally to optimise your experience. Most browsers accept cookies automatically but if you choose you can disable the cookies from your browser. For online advertising campaigns, cookies are automatically deleted after one (1) month.
      </li>
      <br>
      <li class="li">
          We recommend that you leave cookies “turned on” so that you can enjoy a better experience on the Platform. You may occasionally get cookies from companies advertising on Our behalf or on behalf of Our subsidiaries. We do not control these cookies, and these cookies are not subject to this Privacy Policy.
      </li>
      <br>
    </ol>
    </li>

    <li class="li"><b>Use of Google Analytics and Google Tracking Pixels</b>
    <ol class="ol">
      <li class="li">
          This Website uses Google Analytics, a web analytics service of Google Inc. (“Google”). Google Analytics uses cookies and/or text files to analyze website traffic. Information generated by cookies with your details (including your IP address) is transferred to a Google server in the United States of America. Google processes this information to evaluate your use of the Platform, compile reports about the Platform’s activity on Our behalf, and deliver other related services regarding website and Internet use. Google may also share this information with third parties insofar as this is necessary or if these third parties process the information on behalf of Google. Under no circumstances will Google use your IP address in connection with other data supplied by Google.
      </li>
      <br>
      <li class="li">
          You may disable the cookies from your browser by adjusting your browser settings. However, in this scenario, you may not be able to make full use of all the functions available on the Platform. By using the Platform, you agree to Google’s processing of the type of information discussed in this section in the manner contemplated in this Policy. Us, and our respective suppliers, and any of our shareholders, subsidiaries, parent companies, and any of Our and their officers, directors, managers, members, agents, and employees, are not liable for any direct, indirect, punitive, incidental, special, or consequential damages or loss (including, without limitation, incidental and consequential damages, lost profits, or damages resulting from lost data or business interruption) arising out of, or in way connected with, the use of the type of information discussed in this section.
      </li>
      <br>
    </ol>
    </li>

    <li class="li"><b>Tracking Pixels</b>
    <ol class="ol">
      <li class="li">
          Facebook and Google tracking pixels are used on the Platform. This means that third parties may use cookies, web beacons, and similar technologies to collect or receive information from the Platform and elsewhere on the internet and use that information to provide measurement services and targeted adverts. If you wish to opt out of the use of these tracking pixels please adjust your browser settings.
      </li>
      <br>
    </ol>
    </li>
  </ol>
</div>
<br>
<footer id="footer">


    <div class="footer-top">
      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Quick Link</h3>
            <a id="QuickLink"  href="aboutus.html" class="aboutD-Mart">About D-Mart</a><br><br>
            <a id="QuickLink"  href="Login.html" class="myaccount">My Account</a><br><br>

          </div>

          <div id = "colum2"class="col-lg-3 col-md-6 footer-links">
            <h4>Customer Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="Contact.html">Contact Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="FAQ.html">FAQ's</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="How.html">How it works</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="TermsandCondition.html">Campaign Draw Terms & Consitions</a></li>
            </ul>
          </div>




          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Follow Us</h4>
              <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
<br>
            <p>Download the D-Mart app for the utimate shopping experience</p>


                <div class="padding">
    <div class="col-md-12">
         <a  href="#" id="i1" class="btn btn-lg" data-wow-duration="2s" data-wow-delay="0.2s" ><i class="fa fa-android fa-2x"></i> Download</a>

    </div>
</div>


          </div>

        </div>
      </div>
    </div>
<br>
    <div id="end" class="container-fluid">
      <div id="copy" class="copyright" >
        <i href =" ">Logo</i><strong><span>@2021</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
     <a href="useragreement.html"><strong>.</strong>User Agreement</a>
     <a href="PrivacyPolicy.html"><strong>.</strong>Privacy Policy</a>
     <i>WE Accept&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
     <a href="#Home"><img id="cimg" src = "images/easypaisa.png" ></a>

<div id="rgift"class="row gift">

<a href="invite.html">
        <img id="gimg" src="images/gift.png" >
        <span id="Earnpoint" href="Login.html" class="toolTip"><b>Earn Free iPoints</b></span>
</a>
</div>

<div id="row" class="row">
<a href="Start Shopping.html">
    <p id="SCart" > Shopping Cart </p>
        <img id="Simg" src="images/caarticon.png" >
</a>
</div>

      </div>
    </div>
  </footer><!-- End Footer -->

<br><br><br><br><br>
<script src="assets/js/bootstrap.bundle.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/bootstrap.esm.js"></script>
<script src="assets/js/bootstrap.esm.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/bootstrap.min.js"></script>


 </body>
 </html>
